{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
{% block cover %}{% endblock %}

<div class="row">
    <div class="container">
      <div class="row">

          {{form_start(form)}}
            <div class="form-row align-items-center">
              <!-- Material input -->
              
              {{ form_label(form.email, 'Email', {'attr': {'class': 'col-sm-2 col-form-label'}}) }}

              <div class="col-auto">
                <div class="md-form">
                  
                  {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
              </div>

               <div class="col-auto">
                 <button type="submit" class="btn btn-primary btn-md">Envoyer</button>
               </div>
            </div>
           

          {{form_end(form)}}
        
      </div>
    </div>
  </div>

{% endblock %}